@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

/* Thin scrollbars for tables */
.scroll-thin::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.scroll-thin::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300;
}
